@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}


html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}


.home-card-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* flex-wrap: wrap; */
  gap: 1.5rem;

  max-width: 1100px;
  justify-content: center;
  /* centers the cards horizontally */
  align-items: center;
  /* centers vertically if small amount */
  text-align: center;
  /* centers text inside cards */

  margin-left: auto;
  margin-right: auto;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 1024px) {
  .home-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .home-card-grid {
    grid-template-columns: 1fr;
  }
}